@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: #ffffff;
  font-family: 'Outfit', sans-serif;
  overflow: hidden;
  /* Prevent scrollbars */
}

/* Scrollbar styling just in case */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}